{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "PreventGetSecretValue",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "secretsmanager:GetSecretValue",
            "Resource": "*",
            "Condition": {
                "ArnNotEquals": {
                    "aws:PrincipalArn": "${user_arn}"
                }
            }
        },
        {
            "Sid": "PreventModifyResourcePolicy",
            "Effect": "Deny",
            "Principal": "*",
            "Action": [
                "secretsmanager:PutResourcePolicy",
                "secretsmanager:DeleteResourcePolicy"
            ],
            "Resource": "*",
            "Condition": {
                "ArnNotEquals": {
                    "aws:PrincipalArn": "${user_arn}"
                }
            }
        }
    ]
}