{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowMaintenancePageRead",
      "Effect": "Allow",
      "Action": [
        "s3:GetObject"
      ],
      "Resource": [
        "${maintenance_bucket_arn}/*"
      ]
    }
  ]
}
