{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenyEveryoneExceptCurrentUser",
            "Effect": "Deny",
            "NotPrincipal": {
                "AWS": "arn:aws:iam::${account_id}:user/${allowed_user_name}"
            },
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::${bucket_name}",
                "arn:aws:s3:::${bucket_name}/*"
            ]
        }
    ]
}